<?xml version="1.0"?>
<launch>
	<arg name="angle" />
	<arg name="file"  default="$(find simulation)/scripts/markers.csv" />
	<node pkg="simulation" type="objective4.py" name="objective4" output="screen">
		<param name="file" value="$(arg file)" />
		<param name="angle" value="$(arg angle)" />
	</node>
</launch>